<div id="nota-nueva" class="row">
  <form class="large-6 large-offset-3 column">
    {{#if title}}
      <h1>{{title}}</h1>
    {{else}}
      <h1>Nota Nueva</h1>
    {{/if}}
    {{input value=title placeholder="titulo"}}
    {{input value=description placeholder="descripción"}}
    {{input value=language placeholder="language"}}
    {{textarea value=body rows="5"}}
    <a {{action submit}} class="button right">Crear {{title}}</a>
  </form>
</div>